
.heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}


html {
    height: 100%;
    display: flex;
}
body {
    position: relative;
    margin: auto;
    background: #3e333f;
    color: #f6c667;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(50px + (150 - 50) * ((100vw - 300px) / (1600 - 300)));
    animation: font_color 1.8s cubic-bezier(0.5, 0.05, 0.46, 1.04) 0s forwards alternate;
}
.part {
    position: relative;
    display: inline-block;
    line-height: 1;
    letter-spacing: -0.06em;
}
.part--center {
    width: 0.35em;
    height: 0.89em;
}
.part--left {
    animation: move_left 0.9s cubic-bezier(0.5, 0.05, 0.46, 1.04) 0.9s forwards alternate;
}
.part--right {
    animation: move_right 0.9s cubic-bezier(0.5, 0.05, 0.46, 1.04) 0.9s forwards alternate;
}
.letter {
    transform-origin: 50% 50%;
    backface-visibility: visible;
    text-shadow: -2px 1px rgba(255, 255, 255, 1), -3px 2px rgba(255, 255, 255, 1), -4px 3px rgba(255, 255, 255, 1), -5px 4px rgba(255, 255, 255, 1), -6px 5px rgba(255, 255, 255, 1);
}
.letter--i, .letter--o {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.letter--i {
    animation: letter_i 1.8s cubic-bezier(0.5, 0.05, 0.46, 1.04) 0s forwards alternate;
}
.letter--o {
    transform-origin: 50% 53%;
    animation: letter_o 1.8s cubic-bezier(0.5, 0.05, 0.46, 1.04) 0s forwards alternate;
    text-shadow: -2px -1px rgba(255, 255, 255, 1), -3px -2px rgba(255, 255, 255, 1), -4px -3px rgba(255, 255, 255, 1), -5px -4px rgba(255, 255, 255, 1), -6px -5px rgba(255, 255, 255, 1);
}
@keyframes letter_i {
    0% {
        transform: translateX(-50%) rotateY(0deg) rotateX(0deg);
   }
    48% {
        transform: translateX(-50%) rotateY(90deg) rotateX(90deg);
   }
    100% {
        transform: translateX(-50%) rotateY(90deg) rotateX(180deg);
   }
}
@keyframes letter_o {
    0% {
        transform: translateX(-50%) rotateY(90deg) rotateX(90deg);
   }
    50% {
        transform: translateX(-50%) rotateY(45deg) rotateX(90deg);
   }
    100% {
        transform: translateX(-50%) rotateY(0deg) rotateX(180deg);
   }
}
@keyframes move_left {
    from {
        transform: translateX(0%);
   }
    to {
        transform: translateX(-0.12em);
   }
}
@keyframes move_right {
    from {
        transform: translateX(0%);
   }
    to {
        transform: translateX(0.12em);
   }
}
@keyframes font_color {
    0% {
        color: #f6c667;
   }
    50% {
        color: #f6c667;
   }
    100% {
        color: #fc4442;
   }
}

  
  