.itemrow{
    background-color: green;
    width:100%;
}
.thumbnail:hover{
    border:solid orange 10px;
}
body {
    font-family: 'Yellowtail';font-size: 22px;
}
p{
    font-family: 'Yeon Sung';font-size: 15px;
}
.bigarrow{
    color:orange;
    font-family: 'Yeon Sung';font-size: 100px;
}
.bigarrow:hover{
}
.disabled{
    color:grey;
}
.pages{
    font-family: 'Yeon Sung';font-size: 30px;
}
.thumb{
    height:80%;
}
.info{
    height:10%;
}
.itembox{
    background-color: white;
    border:solid black 2px;
    width:30%;
    height:30%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }