  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href={{url_for('static',filename="style.css")}}>
<link rel="stylesheet" href={{url_for('static',filename="menu.css")}}>
<link rel="stylesheet" href={{url_for('static',filename="another.css")}}>
<link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
<div id='menumain'>
      <center>
          <div class="container" style="position:absolute;left:10%;top:10%">
              <h1 class="heading" style="position:absolute" data-target-resolver></h1>
            </div>
          </center>
      <div class="row">
    <span class="part part--left" style="position:absolute;left:10%;top:60%">
        <span class="letter">Dunners</span>	
      </span>
      
      <span class="part part--right" style="top:60%;left:60%;position:absolute">
          <span class="part part--center">
              <span class="letter letter--i">&#10085;</span>
              <span class="letter letter--o">&#10085;</span>
            </span>      
          <span class="letter">FLATS</span>
          <span class="letter"></span>
        </span>
      </div>
      <div class="row">
    <div class="flex dark" style="width:140%">
        <a href="{{url_for('findproperty')}}" class="bttn-dark2" style="position:absolute;top:20%;left:10%;width:80%;height:10%">Property Managements</a>
        <a href="#0" class="bttn-dark" style="position:absolute;top:30%;left:10%; width:80%;height:10%">Individual Listings</a>
        <a href="{{url_for('rate')}}" class="bttn-dark2"style="position:absolute;top:40%;left:10%;width:80%;height:10%" >Rate Flats</a>
        <a href="#0" class="bttn-dark" style="position:absolute;top:50%;left:10%; width:80%;height:10%">Flatmate at first site &#10084;</a>
    </div>
    </div>
  </div>
<!-- Compiled and minified JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{url_for('static',filename="extra.js")}}"></script>
<script>

</script>